@using Kendo.Mvc.UI
@using Test2022.Models
@{
    ViewBag.Title = "FormatCSVTask6View";

}

@model AssignmentModel
<h2>FormatCSVTask6View</h2>



<script>


    $(document).ready(function () {


//***************************************************************************************************************************************************************************************************************************
    $("#btnValidate").click(function () {

        //grab the file that was provided by the user
        var file = $('#fileData').val();
           if (file) {
                var dataString = new FormData($("#NewForm").get(0));
              $.ajax({
                  type: "POST",
                  url: "@Url.Action("ValidateEDIData", "FormatCSVTask6")",
                  data: dataString,
                  contentType: false,
                  processData: false,
                  success: function (data) {

                      if (data == "Success") {
                          document.getElementById('fileData').value = '';
                         
                            var url = '@Url.Action("GetCSVFiles", "FormatCSVTask6")';
                            window.location.href = url;
                      }
                      else
                      {

                          var infoWindow = $("<div />").kendoWindow({
                              title: "<strong> Info! </strong>",
                              resizable: false,
                              modal: true
                          });

                          infoWindow.data("kendoWindow")
                              .content($("<p><strong> CSV file is invalid.</strong> </p>").html())
                              .center().open();
                      }
                }

            })

        }
        else {
            alert('Please enter the valid input.');
        }
        });

//***************************************************************************************************************************************************************************************************************************
    }); //end document

    //===============================================================================
    //Check if file is on CSV Format.
    //===============================================================================
    function checkFile(sender) {
        var validExts = new Array( ".csv");
        var fileExt = sender.value;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));

        if (validExts.indexOf(fileExt) < 0) {

            var alertWindow = $("<div />").kendoWindow({
                title: "Warning!",
                resizable: false,
                modal: true
            });

            alertWindow.data("kendoWindow")
                .content($("<p>Invalid file selected, valid files are of " + validExts.toString() + " types.</p>").html())
                .center().open();

            //Clear value.
            $("#postedFile").val('');

            return false;
        }
        else return true;
    }
 //*******************************************************************************************//
</script>
@using (Html.BeginForm("ValidateEDIData", "FormatCSVTask6", null, FormMethod.Post, new { enctype = "multipart/form-data", name = "form", id = "NewForm" }))
{
    <body>
        <div>
            @Html.TextBoxFor(i => i.file, new { type = "file", id = "fileData", @name = "postedFile", @class = "required", @style = "width:100%", @accept = ".csv", @onchange = "checkFile(this)" })
            <input type="button" class="btn btn-primary ks-rounded" id="btnValidate" value="Validate" />&nbsp;
        </div>

   

    </body>


}